We have an empty project and need to initialize it with files. The project will be similar to a project that
already exists. We will use the existing project as a template to create the new project.

Here is what the template project looks like:

---
{{ sh('cat template.md') }}
---

Here is what the new project will be about:

---
A command-line interface for checking the local weather.
---

Apply the new project information to the template project and
open a new Github issue for initializing the project.
The issue body should:
- Explain the new project and its purpose
- Provide a list of all files that need to be created
- For each file, provide a brief description of its purpose, content and structure
- List other requirements for the project

Open the new issue!