I want you to collect the following information about the project
- Identify the primary language and / or framework used in the project
- What's the license?
- What does `.gitignore` contain?
- Path of the dependency file
- Name of the dependency management system used (if any)
- List of main dependencies related to the project's framework / main purpose


{% include 'format_instructions.md.jinja2' %}